<div class="container-fluid about-me ">
    <div class="row aboutContent">
        <div class="col-md-3">
            <div class="hovereffect">
                <img src="../components/images/about.jpg" class="aboutPic img-responsive">
                <div class="overlay">
                    <h2>
                        <div>CODE is my magic wand</div>
                    </h2>
                    <p>
                        <a href="#">  <div>Let me be your WIZARD !</div></a>
                    </p>
                </div>
            </div>
        </div>
       
        <div class="col-md-9">
            <h3 class="aboutHeading text-center">
                I contribute in building better businesses by creating joyful digital ideas, products and experiences
                that connect the hearts of brands to the hearts of their consumers.
            </h3><br>
            <div class="row processTextParent">
                <div class="col-md-12 processText">
                    <div>
                        <img src="../components/images/idea.svg" class="aboutIcons img-responsive">
                        <h4>Ideas</h4>
                    </div>
                    <div class="processBody">I collaborate with clients and peers to nurture and transform ideas into
                        well thought
                        out design specs. After all, that's where the majority of amazing user experiences start.
                    </div>
                </div>
                <div class="col-md-12 processText">
                    <div>
                        <img src="../components/images/design.svg" class="aboutIcons img-responsive">
                        <h4>Design</h4>
                    </div>
                    <div class="processBody">I sketch and wireframe interfaces focusing on content structure, intuitive
                        UI patterns and simple interactions.
                        I'm a minimalist who truly believes that less is more.
                    </div>
                </div>
                <div class="col-md-12 processText">
                    <div>
                        <img src="../components/images/coding.svg" class="aboutIcons img-responsive">
                        <h4>Code</h4>
                    </div>
                    <div class="processBody">My arms and ammunition includes HTML(5), CSS(3) and a touch of JavaScript.
                        I love coding things from scratch, and leveraging frameworks.
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center pingBtn">
                <h3>Yes, that's right!</h3>
                <button class="btn btn-default"><a href="https://www.linkedin.com/in/developerharshjain/" target="_blank">Get
                        in touch!</a></button>
            </div>
        </div>

    </div>
</div>