  <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-12">
            <video autoplay muted loop id="myVideo">
                <source src="videos/Future.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video> 
        </div>  
        <div class="col-md-6">
            <header id="sketch"></header>
        </div>
        <article class="intro-message2 col-md-12">
    
            <ul class="list-inline intro-social-buttons">
              <li class="list-inline-item">
                <a href="https://mymantra.slack.com" class="btn btn-secondary btn-lg social-btn slack" target="_blank">
                  <i class="fa fa-slack fa-fw"></i>
                  <span class="network-name">Slack</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/masterharsh" class="btn btn-secondary btn-lg social-btn github" target="_blank">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/developerharshjain/" class="btn btn-secondary btn-lg social-btn linkedin" target="_blank">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">Linkedin</span>
                </a>
              </li>
            </ul>
          </article>    
      </div>
    </div>        