  <header class="intro-header1">
      <div class="container">
        <section class="intro-message1">
        <aside class="col-md-12"> 
            <h1 class="introHeading">Hi, I am Harsh Jain</h1>
        </aside>         
          <h3>I can make an awesome website for you.</h3>
        </section>
        </div>
    </header>        
        <hr class="intro-divider homeDivider">
    <header id="sketch">  
        <article class="intro-message2">
             <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="#" class="btn btn-secondary btn-lg social-btn twitter" target="_blank">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/masterharsh" class="btn btn-secondary btn-lg social-btn github" target="_blank">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Github</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/developerharshjain/" class="btn btn-secondary btn-lg social-btn linkedin" target="_blank">
                <i class="fa fa-linkedin fa-fw"></i>
                <span class="network-name">Linkedin</span>
              </a>
            </li>
          </ul>
        </article>
      
    </header>