<div class="container-fluid about-me ">
    <div class="row aboutContent">
        <div class="col-md-3">
            <img src="../components/images/about.jpg" class="aboutPic img-responsive">
            <figure> “I believe in magic and code is my magic wand.”</figure>
        </div>
        <div class="col-md-9">
<!--            <h1 class="text-center">About Me</h1>-->
            <h3 class="text-center aboutIntro">Hi, I am a front-end developer based out of Hyderabad,India. I drink cofee, watch movies, play basketball and Code. </h3><br>
            <h4 class="aboutHeading text-center">I have got chops in all phases of the development process.</h4><br>
        <div class="row col-md-12 processTextParent">
            <div class="col-md-4 processText text-center">
            <img src="../components/images/idea.svg" class="aboutIcons img-responsive">
                <h4>Ideas</h4>
            <span>I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</span>
            </div>
            <div class="col-md-4 processText text-center">
                <img src="../components/images/design.svg" class="aboutIcons img-responsive">
                 <h4>Design</h4>
                 <span>I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.</span>
            </div>
            <div class="col-md-4 processText text-center">
                <img src="../components/images/coding.svg" class="aboutIcons img-responsive">
                 <h4>Code</h4>
                <span>I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.</span>
            </div>
        </div> 
        </div>
        <div class="col-md-12 text-center">
        <button class="btn btn-default">I need a website</button>
        <button class="btn btn-default">I am looking to hire</button>
        </div>
    </div>
</div>